[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-cors-headers = "*"
django-environ = "*"
djangorestframework-gis = "*"
django-filter = "*"
psycopg2-binary = "*"
uwsgi = "*"
whitenoise = "*"
pygments = "*"

[dev-packages]
codecov = "*"
coverage = "*"
factory-boy = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-watch = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
